**/artifacts/
**/obj/
**/bin/
**/.idea/
**/.vscode/
**/.vs/
.nuget/
**/*/out
_ReSharper.*
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide

# Scratch and working files
.scratch/

# Developer defaults for make
.env
